ExcelBinOutput/TalkExcelConfigData.json filter=lfs diff=lfs merge=lfs -text
ExcelBinOutput/DialogExcelConfigData.json filter=lfs diff=lfs merge=lfs -text
ScriptSceneData/flat.luas.scenes.full_globals.lua.json filter=lfs diff=lfs merge=lfs -text
TextMap/TextMap*.json filter=lfs diff=lfs merge=lfs -text
